@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.header {
  background-color: vars.$color-dark;

  .header-container {
    padding-left: vars.$spacing-md;
    padding-right: vars.$spacing-md;

    @media screen and (min-width: 768px) {
      padding-left: vars.$spacing-lg;
      padding-right: vars.$spacing-lg;
    }

    @media screen and (min-width: 1200px) {
      padding-left: vars.$spacing-xxl;
      padding-right: vars.$spacing-xxl;
    }
  }
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 150px;
  height: auto;

  @media screen and (max-width: 1200px) {
    max-width: 120px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100px;
  }
}

.nav-items {
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.navLink {
  text-decoration: none;
  color: vars.$color-primary;
  font-size: vars.$font-size-md;
  margin-right: vars.$spacing-xl;
  transition: color 0.3s ease;

  &:hover {
    color: vars.$color-secondary;
  }

  @media screen and (max-width: 768px) {
    font-size: vars.$font-size-sm;
    margin: vars.$spacing-xs 0;
    display: block;
    text-align: center;
  }
}

.header-btn {
  padding: vars.$spacing-xs vars.$spacing-lg !important;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-top: vars.$spacing-sm;
    text-align: center;
  }
}

.register-btn {
  background-color: transparent !important;
  border: 1px solid vars.$color-white !important;
  font-size: vars.$font-size-sm;

  &:hover {
    background-color: vars.$button-hover !important;
    color: vars.$color-white !important;
    @include mixins.transform(scale(1.1));
    @include mixins.transition(transform 0.3s ease);
  }
}

.login-btn {
  background: vars.$color-primary !important;
  border: none !important;
  font-size: vars.$font-size-sm;

  &:hover {
    background-color: vars.$button-hover !important;
    border: 1px solid vars.$color-white !important;
    @include mixins.transform(scale(1.1));
    @include mixins.transition(transform 0.3s ease);
  }
}

.btn .navLink {
  color: vars.$color-white;
  margin: 0;
  display: flex;
  justify-content: center;
}

.seperate-buttons {

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
